.cart-page-header {
  background-color: #FFEEBB;
  margin-top: 15px;
}
.cart-page-header .container .cart-header-flex {
  display: flex;
  justify-content: space-between;
}
.cart-page-header .container .cart-header-flex .cart-page-title {
  margin-left: 50px;
}
.cart-page-header .container .cart-header-flex .cart-page-title .title {
  padding: 10px;
}
.cart-page-header .container .cart-header-flex .cart-page-title .title .title-bg {
  display: flex;
  justify-content: space-around;
  padding: 10px 10px 0px 10px;
  background-color: #C2DEDC;
}
.cart-page-header .container .cart-header-flex .cart-page-title .title .title-bg .logo {
  background-color: #F99B7D;
  border-radius: 5px;
  padding: 5px 10px 0px 10px;
  color: #E76161;
  font-size: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
}
.cart-page-header .container .cart-header-flex .cart-page-title .title .title-bg .logo .icon-bag {
  width: 15px;
  height: 20px;
}
.cart-page-header .container .cart-header-flex .cart-page-title .title .title-bg .name-shop {
  margin-top: 2px;
  color: #E76161;
}
.cart-page-header .container .cart-header-flex .cart-page-title .title .title-bg .title-content {
  margin: 2px 0px 0px 5px;
  color: red;
  opacity: 0.7;
}
.cart-page-header .container .cart-header-flex .cart-page-searchbar {
  margin-top: 15px;
}
.cart-page-header .container .cart-header-flex .cart-page-searchbar .InputContainer {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  padding-left: 15px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.075);
}
.cart-page-header .container .cart-header-flex .cart-page-searchbar .input {
  width: 250px;
  height: 100%;
  border: none;
  outline: none;
  font-size: 0.9em;
  caret-color: rgb(255, 81, 0);
}
.cart-page-header .container .cart-header-flex .cart-page-searchbar .labelforsearch {
  cursor: text;
  padding: 0px 12px;
}
.cart-page-header .container .cart-header-flex .cart-page-searchbar .searchIcon {
  width: 13px;
}
.cart-page-header .container .cart-header-flex .cart-page-searchbar .border {
  height: 40%;
  width: 1.3px;
  background-color: rgb(223, 223, 223);
}
.cart-page-header .container .cart-header-flex .cart-page-searchbar .micIcon {
  width: 12px;
}
.cart-page-header .container .cart-header-flex .cart-page-searchbar .micButton {
  padding: 0px 15px 0px 12px;
  border: none;
  background-color: transparent;
  height: 40px;
  cursor: pointer;
  transition-duration: 0.3s;
}
.cart-page-header .container .cart-header-flex .cart-page-searchbar .searchIcon path {
  fill: rgb(114, 114, 114);
}
.cart-page-header .container .cart-header-flex .cart-page-searchbar .micIcon path {
  fill: rgb(255, 81, 0);
}
.cart-page-header .container .cart-header-flex .cart-page-searchbar .micButton:hover {
  background-color: rgb(255, 230, 230);
  transition-duration: 0.3s;
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .cart-page-header {
    margin-top: 30px;
    height: 400px;
  }
  .cart-page-header .container .carousel-flex {
    padding-bottom: 30px;
  }
  .cart-page-header .container .carousel-flex .carousel-img {
    width: 65%;
  }
  .cart-page-header .container .carousel-flex .carousel-img img {
    width: 98%;
    height: 98%;
  }
  .cart-page-header .container .carousel-flex .carousel-content {
    width: 35%;
  }
  .cart-page-header .container .carousel-flex .carousel-content h1 {
    font-size: 35px;
  }
  .cart-page-header .container .carousel-flex .carousel-content p {
    font-size: 15px;
  }
}
@media screen and (min-width: 576px) and (max-width: 768px) {
  .cart-page-header {
    height: 300px;
  }
  .cart-page-header .container {
    margin-top: 0px;
  }
  .cart-page-header .container .carousel-flex {
    padding-bottom: 50px;
  }
  .cart-page-header .container .carousel-flex .carousel-img {
    width: 53%;
    padding-bottom: 0px;
    margin-top: 50px;
  }
  .cart-page-header .container .carousel-flex .carousel-img img {
    padding-left: 20px;
    width: 98%;
    height: 98%;
  }
  .cart-page-header .container .carousel-flex .carousel-content {
    width: 50%;
    padding-top: 50px;
    line-height: 1;
  }
  .cart-page-header .container .carousel-flex .carousel-content h1 {
    font-size: 32px;
  }
  .cart-page-header .container .carousel-flex .carousel-content p {
    font-size: 13px;
  }
  .cart-page-header .container .carousel-flex .carousel-content button {
    padding: 10px 15px;
    font-size: 15px;
  }
}
@media screen and (min-width: 375px) and (max-width: 576px) {
  .cart-page-header {
    height: 200px;
  }
  .cart-page-header .container {
    margin-top: 0px;
  }
  .cart-page-header .container .carousel-flex {
    padding-bottom: 70px;
  }
  .cart-page-header .container .carousel-flex .carousel-img {
    width: 50%;
    padding-bottom: 0px;
    margin-top: 50px;
  }
  .cart-page-header .container .carousel-flex .carousel-img img {
    padding-left: 20px;
    width: 98%;
    height: 98%;
  }
  .cart-page-header .container .carousel-flex .carousel-content {
    width: 47%;
    padding-top: 50px;
    line-height: 1;
  }
  .cart-page-header .container .carousel-flex .carousel-content h1 {
    font-size: 18px;
    position: relative;
    right: 10px;
  }
  .cart-page-header .container .carousel-flex .carousel-content p {
    font-size: 10px;
  }
  .cart-page-header .container .carousel-flex .carousel-content .btn-buy .c-button {
    font-size: 13px;
  }
}