.search-result .container .body-result .filter {
  margin: 20px;
  display: flex;
  justify-content: flex-end;
}
.search-result .container .body-result .filter select {
  padding: 8px 10px;
}
.search-result .container .body-result .show-result .list-item {
  display: flex;
  flex-wrap: wrap;
}
.search-result .container .body-result .show-result .list-item .products-item {
  width: 33.3333333333%;
}
@media screen and (max-width: 768px) {
  .search-result .container .body-result .show-result .list-item .products-item {
    width: 50%;
  }
}
@media screen and (max-width: 576px) {
  .search-result .container .body-result .show-result .list-item .products-item {
    width: 100%;
  }
}
.search-result .container .body-result .show-result .list-item .products-item .card {
  margin: 1%;
  height: 100%;
}
.search-result .container .body-result .show-result .list-item .products-item .card .item-image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-result .container .body-result .show-result .list-item .products-item .card .item-image img {
  width: 60%;
}
.search-result .container .body-result .show-result .list-item .products-item .card .products-body {
  padding: 20px;
}
.search-result .container .body-result .show-result .list-item .products-item .card .products-body .info {
  margin-bottom: 10px;
}
.search-result .container .body-result .show-result .list-item .products-item .card .products-body .info .name {
  font-size: 20px;
  padding: 0;
  margin: 0;
}
.search-result .container .body-result .show-result .list-item .products-item .card .products-body .info span {
  font-size: 13px;
  opacity: 0.7;
}
.search-result .container .body-result .show-result .list-item .products-item .card .products-body .products-btn {
  display: flex;
}
.search-result .container .body-result .show-result .list-item .products-item .card .products-body .products-btn .btn-products {
  width: 50%;
  background-color: #F8B653;
  color: #000000;
  border: none;
  font-style: italic;
  padding: 10px 0;
  transition: all 0.5s;
}
.search-result .container .body-result .show-result .list-item .products-item .card .products-body .products-btn .btn-products:hover {
  background-color: #44d8a4;
  color: white;
}
.search-result .container .body-result .show-result .list-item .products-item .card .products-body .products-btn .btn-products a {
  text-decoration: none;
  color: #000;
  display: block;
}
.search-result .container .body-result .show-result .list-item .products-item .card .products-body .products-btn .price {
  width: 50%;
  background-color: #D9D9D9;
  text-align: right;
  padding: 10px 15px;
  margin-bottom: 0;
}