.cart-page-header {
    background-color: #FFEEBB;
    margin-top: 15px;

    .container {
        .cart-header-flex {
            display: flex;
            justify-content: space-between;

            .cart-page-title {
                margin-left: 50px;

                .title {
                    padding: 10px;

                    .title-bg {
                        display: flex;
                        justify-content: space-around;
                        padding: 10px 10px 00px 10px;
                        background-color: #C2DEDC;

                        .logo {
                            background-color: #F99B7D;
                            border-radius: 5px;
                            padding: 5px 10px 0px 10px;
                            color: #E76161;
                            font-size: 10px;
                            margin-bottom: 10px;
                            margin-right: 10px;

                            .icon-bag {
                                width: 15px;
                                height: 20px;
                            }
                        }

                        .name-shop {
                            margin-top: 2px;
                            color: #E76161;
                        }

                        .title-content {
                            margin: 2px 0px 0px 5px;
                            color: red;
                            opacity: 0.7;
                        }
                    }
                }
            }

            .cart-page-searchbar {
                margin-top: 15px;

                .InputContainer {
                    height: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: rgb(255, 255, 255);
                    border-radius: 10px;
                    overflow: hidden;
                    cursor: pointer;
                    padding-left: 15px;
                    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.075);
                }

                .input {
                    width: 250px;
                    height: 100%;
                    border: none;
                    outline: none;
                    font-size: 0.9em;
                    caret-color: rgb(255, 81, 0);
                }

                .labelforsearch {
                    cursor: text;
                    padding: 0px 12px;
                }

                .searchIcon {
                    width: 13px;
                }

                .border {
                    height: 40%;
                    width: 1.3px;
                    background-color: rgb(223, 223, 223);
                }

                .micIcon {
                    width: 12px;
                }

                .micButton {
                    padding: 0px 15px 0px 12px;
                    border: none;
                    background-color: transparent;
                    height: 40px;
                    cursor: pointer;
                    transition-duration: .3s;
                }

                .searchIcon path {
                    fill: rgb(114, 114, 114);
                }

                .micIcon path {
                    fill: rgb(255, 81, 0);
                }

                .micButton:hover {
                    background-color: rgb(255, 230, 230);
                    transition-duration: .3s;
                }
            }
        }
    }
}

.cart {
    background-color: #FFEEBB;
    padding: 50px;
    margin-top: 20px;
    // background-color: #F9FBE7;

    .container {
        .table {
            .thead-cart {
                background-color: #F9FBE7;
                border: 1px solid #bcd309;

                tr {
                    th {
                        text-align: center;
                        // text-align: center;
                        font-weight: 500;

                        .ui-checkbox,
                        .ui-checkbox *,
                        .ui-checkbox *::before,
                        .ui-checkbox *::after {
                            -webkit-box-sizing: border-box;
                            box-sizing: border-box;
                        }

                        .ui-checkbox {
                            -webkit-appearance: none;
                            -moz-appearance: none;
                            appearance: none;
                            width: 15px;
                            height: 15px;
                            border-radius: 3px;
                            background: #fff;
                            border: 1px solid #d9d9d9;
                            -webkit-transition: all 0.3s;
                            -o-transition: all 0.3s;
                            transition: all 0.3s;
                            cursor: pointer;
                            position: relative;
                            margin-left: 20px;

                        }

                        .ui-checkbox::after {
                            content: "";
                            position: absolute;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            -webkit-box-shadow: 0 0 0 calc(20px / 2.5) #1677ff;
                            box-shadow: 0 0 0 calc(20px / 2.5) #1677ff;
                            border-radius: inherit;
                            opacity: 0;
                            -webkit-transition: all 0.5s cubic-bezier(0.12, 0.4, 0.29, 1.46);
                            -o-transition: all 0.5s cubic-bezier(0.12, 0.4, 0.29, 1.46);
                            transition: all 0.5s cubic-bezier(0.12, 0.4, 0.29, 1.46);
                        }

                        .ui-checkbox::before {
                            top: 40%;
                            left: 50%;
                            content: "";
                            position: absolute;
                            width: 4px;
                            height: 7px;
                            border-right: 2px solid #fff;
                            border-bottom: 2px solid #fff;
                            -webkit-transform: translate(-50%, -50%) rotate(45deg) scale(0);
                            -ms-transform: translate(-50%, -50%) rotate(45deg) scale(0);
                            transform: translate(-50%, -50%) rotate(45deg) scale(0);
                            opacity: 0;
                            -webkit-transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6), opacity 0.1s;
                            -o-transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6), opacity 0.1s;
                            transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6), opacity 0.1s;
                        }

                        /* actions */

                        .ui-checkbox:hover {
                            border-color: #1677ff;
                        }

                        .ui-checkbox:checked {
                            background: #1677ff;
                            border-color: transparent;
                        }

                        .ui-checkbox:checked::before {
                            opacity: 1;
                            -webkit-transform: translate(-50%, -50%) rotate(45deg) scale(1.2);
                            -ms-transform: translate(-50%, -50%) rotate(45deg) scale(1.2);
                            transform: translate(-50%, -50%) rotate(45deg) scale(1.2);
                            -webkit-transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
                            -o-transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
                            transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
                        }

                        .ui-checkbox:active:not(:checked)::after {
                            -webkit-transition: none;
                            -o-transition: none;
                            -webkit-box-shadow: none;
                            box-shadow: none;
                            transition: none;
                            opacity: 1;
                        }
                    }
                }
            }

            .space-devide {
                height: 20px;
            }

            .tbody-cart {
                background-color: #F9FBE7;
                border: 1px solid #bcd309;

                .item {
                    td {
                        line-height: 1;
                        text-align: center;
                        
                        .ui-checkbox,
                        .ui-checkbox *,
                        .ui-checkbox *::before,
                        .ui-checkbox *::after {
                            -webkit-box-sizing: border-box;
                            box-sizing: border-box;
                        }

                        .ui-checkbox {
                            -webkit-appearance: none;
                            -moz-appearance: none;
                            appearance: none;
                            width: 15px;
                            height: 15px;
                            border-radius: 3px;
                            background: #fff;
                            border: 1px solid #d9d9d9;
                            -webkit-transition: all 0.3s;
                            -o-transition: all 0.3s;
                            transition: all 0.3s;
                            cursor: pointer;
                            position: relative;
                            margin-left: 20px;
                            margin-top: 15px;
                        }

                        .ui-checkbox::after {
                            content: "";
                            position: absolute;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            -webkit-box-shadow: 0 0 0 calc(20px / 2.5) #1677ff;
                            box-shadow: 0 0 0 calc(20px / 2.5) #1677ff;
                            border-radius: inherit;
                            opacity: 0;
                            -webkit-transition: all 0.5s cubic-bezier(0.12, 0.4, 0.29, 1.46);
                            -o-transition: all 0.5s cubic-bezier(0.12, 0.4, 0.29, 1.46);
                            transition: all 0.5s cubic-bezier(0.12, 0.4, 0.29, 1.46);
                        }

                        .ui-checkbox::before {
                            top: 40%;
                            left: 50%;
                            content: "";
                            position: absolute;
                            width: 4px;
                            height: 7px;
                            border-right: 2px solid #fff;
                            border-bottom: 2px solid #fff;
                            -webkit-transform: translate(-50%, -50%) rotate(45deg) scale(0);
                            -ms-transform: translate(-50%, -50%) rotate(45deg) scale(0);
                            transform: translate(-50%, -50%) rotate(45deg) scale(0);
                            opacity: 0;
                            -webkit-transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6), opacity 0.1s;
                            -o-transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6), opacity 0.1s;
                            transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6), opacity 0.1s;
                        }

                        /* actions */

                        .ui-checkbox:hover {
                            border-color: #1677ff;
                        }

                        .ui-checkbox:checked {
                            background: #1677ff;
                            border-color: transparent;
                        }

                        .ui-checkbox:checked::before {
                            opacity: 1;
                            -webkit-transform: translate(-50%, -50%) rotate(45deg) scale(1.2);
                            -ms-transform: translate(-50%, -50%) rotate(45deg) scale(1.2);
                            transform: translate(-50%, -50%) rotate(45deg) scale(1.2);
                            -webkit-transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
                            -o-transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
                            transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
                        }

                        .ui-checkbox:active:not(:checked)::after {
                            -webkit-transition: none;
                            -o-transition: none;
                            -webkit-box-shadow: none;
                            box-shadow: none;
                            transition: none;
                            opacity: 1;
                        }

                        .btn-up-down {
                            margin-top: 5px;
                            border-radius: 0px;
                            border: 1px solid palegoldenrod;
                            display: flex;
                            justify-content: center;

                            .btn-up,
                            .btn-down {
                                border-radius: 0px;
                                border: 1px solid palegoldenrod;
                                width: calc(100%/3);
                                padding: 5px;

                            }

                            .show-up-number {
                                border: 1px solid palegoldenrod;
                                width: calc(100%/3);
                                text-align: center;
                                padding: 5px;
                            }
                        }
                        .btn-delete {
                            padding: 5px 20px;
                            border-radius: 5px;
                            border: 2.5px solid #E0E1E4;
                            box-shadow: 0px 0px 20px -20px;
                            cursor: pointer;
                            background-color: white;
                            transition: all 0.2s ease-in-out 0ms;
                            user-select: none;
                            font-family: 'Poppins', sans-serif;
                            font-size: 13px;
                            opacity: 0.9;
                          }
                          
                          .btn-delete:hover {
                            background-color: #F2F2F2;
                            box-shadow: 0px 0px 20px -18px;
                          }
                          
                          .btn-delete:active {
                            transform: scale(0.95);
                          }
                        .more-item{
                            a{
                                text-align: center;
                                text-decoration: none;
                                color: red;
                                font-size: 13px;
                                opacity: 0.8;
                            }
                        } 
                    }
                    .td-text{
                        padding-top: 20px;
                    }
                }
            }
        }
    }
}

.cart-page-footer{
    background-color: #C2DEDC;
    .container{
        .top-footer{
            border: 1px solid black;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding: 15px 50px 15px 0px ;
            .left-top-footer{
                margin-right: 50px;
                font-Æ°w
                .bi-ticket{
                    margin-right: 10px;
                    .icon-ticket{
                        color:#E76161
                    }
                }
            }
            .right-top-footer{
                a{
                    text-decoration: none;
                }
            }
        }
        .body-footer{
        }
    }
}