#products_detail {
    margin-top: 5%;
    margin-bottom: 5%;
    .container {
        display: flex;
        @media screen and (min-width:375px) and (max-width:576px) {
            display: block;
            text-align: center;
        }
        @media screen and (min-width:1px) and (max-width:375px) {
            display: block;
            text-align: center;
         }
        .content_left {
            width: 45%;
            @media screen and (min-width:375px) and (max-width:576px) {
                width: 100%;
            }
            @media screen and (min-width:1px) and (max-width:375px) {
                width: 100%;
            }
            
            img {
                height: 115%;
                width: 90%;
                background-color: #f8f8f8;
                @media screen and (min-width:768px) and (max-width:1280px) {
                    height: 70%;
                }
                @media screen and (min-width:576px) and (max-width:768px) {
                    height: 45%;
                }
                @media screen and (min-width:375px) and (max-width:576px) {
                    height: 35%;
                    width: 85%;
                }
                @media screen and (min-width:1px) and (max-width:375px) {
                   height: 25%;
                }
            }
        }
        .content_right {
            width: 50%;
            padding-left: 50px;
            @media screen and (min-width:375px) and (max-width:576px) {
                width: 100%;
            }
            @media screen and (min-width:1px) and (max-width:375px) {
                width: 100%;
            }
            .info {
                h3 {

                }
                p {

                }
            }
            .size_products {
                span {
                    color: #2ddb1e;
                }
                .sizes {
                    border: none;
                    margin: 10px 5px 0 0;
                }
            }
            .cost {
                span {
                      color: red;
                      font-weight: 600;
                }
            }
            .push_cart {
                .except {
                    width: 25px;
                    height: 25px;
                    border: none;
                    background: linear-gradient(to right top, #d017e1, #b80ee7, #9c0fed, #7717f2, #3e20f8);
                    span {}
                }
                .num {
                    font-size: 20px;
                    margin: 0 10px;
                }
                .add {
                    width: 25px;
                    height: 25px;
                    border: none;
                    background: linear-gradient(to right top, #d017e1, #b80ee7, #9c0fed, #7717f2, #3e20f8);
                    span {}
                }
                .add_cart {
                    margin-top: 15px;
                    padding: 7px;
                    border: none;
                    background: linear-gradient(to right top, #d017e1, #b80ee7, #9c0fed, #7717f2, #3e20f8);
                    span {}
                }
            }
        }
    }
}
.relate-products {
    .container {
        .list-item {
            display: flex;
            flex-wrap: wrap;

            .products-item {
                width: calc(100%/3);

                @media screen and (max-width: 768px) {
                    width: calc(100%/2);
                }

                @media screen and (max-width: 576px) {
                    width: 100%;
                }

                .card {
                    margin: 1%;
                    .item-image{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        img {
                            width: 60%;
                        }
                    }
                    .products-body {
                        padding: 20px;
                        .info {
                            .name {
                                font-size: 20px;
                                padding: 0;
                                margin: 0;
                            }

                            span {
                                font-size: 13px;
                                opacity: 0.7;
                            }
                            margin-bottom: 10px;
                        }

                        .products-btn {
                            display: flex;

                            .btn-products {
                                width: 50%;
                                background-color: #F8B653;
                                color: #000000;
                                border: none;
                                font-style: italic;
                                padding: 10px 0;
                                transition: all 0.5s;
                                &:hover{
                                    background-color: #44d8a4;
                                    color: white;
                                }a{
                                    text-decoration: none;
                                    color: #000;
                                    display: block;
                                    font-style: normal;
                                }
                            }
                            .price {
                                width: 50%;
                                background-color: #D9D9D9;
                                text-align: right;
                                padding: 10px 15px;
                                margin-bottom: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}

.products {
    .container {
        .title {
            text-align: center;
            padding: 30px 0;
        }

        .list-item {
            display: flex;
            flex-wrap: wrap;

            .products-item {
                width: calc(100%/3);

                @media screen and (max-width: 768px) {
                    width: calc(100%/2);
                }

                @media screen and (max-width: 576px) {
                    width: 100%;
                }

                .card {
                    margin: 1%;
                    height: 100%;
                    .item-image {
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        img {
                            width: 60%;
                        }
                    }

                    .products-body {
                        padding: 20px;

                        .info {
                            .name {
                                font-size: 20px;
                                padding: 0;
                                margin: 0;
                            }

                            span {
                                font-size: 13px;
                                opacity: 0.7;
                            }

                            margin-bottom: 10px;
                        }

                        .products-btn {
                            display: flex;

                            .btn-products {
                                width: 50%;
                                background-color: #F8B653;
                                color: #000000;
                                border: none;
                                font-style: italic;
                                padding: 10px 0;
                                transition: all 0.5s;

                                &:hover {
                                    background-color: #44d8a4;
                                    color: white;
                                }
                                a{
                                    text-decoration: none;
                                    color: #000;
                                    display: block;
                                }
                            }

                            .price {
                                width: 50%;
                                background-color: #D9D9D9;
                                text-align: right;
                                padding: 10px 15px;
                                margin-bottom: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}