.profile-page{
    .container{
        .header-profile-page{

        }
        .row{
            .avatar-img{
                img{}
            }
            .detail-profile{
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                .info{
                    display: flex;
                    justify-content: center;
                }
            }
        }
    }
}