.profile-page .container .row .avatar-img {
  display: flex;
}
.profile-page .container .row .avatar-img img {
  border-radius: 50%;
}
.profile-page .container .row .detail-profile {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.profile-page .container .row .detail-profile .info {
  display: flex;
  justify-content: center;
}