.profile-page .container .row .detail-profile {
  display: flex;
  flex-direction: column;
}
.profile-page .container .row .detail-profile align-items .info {
  display: flex;
  justify-content: center;
}