.cart-page-footer {
  margin-top: 25px;
  background-color: #C2DEDC;
  padding: 20px;
}
.cart-page-footer .container {
  background-color: #F9FBE7;
}
.cart-page-footer .container .top-footer {
  border-bottom: 1px solid black;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 15px 50px 15px 0px;
}
.cart-page-footer .container .top-footer .left-top-footer {
  margin-right: 50px;
  font-weight: 700;
  color: #E76161;
}
.cart-page-footer .container .top-footer .left-top-footer .bi-ticket {
  margin-right: 8px;
}
.cart-page-footer .container .top-footer .left-top-footer .bi-ticket .icon-ticket {
  fill: #E76161;
  color: #E76161;
}
.cart-page-footer .container .top-footer .right-top-footer a {
  text-decoration: none;
  color: #146C94;
}
.cart-page-footer .container .body-footer {
  border-bottom: 1px solid black;
  padding: 10px 100px 0px 100px;
}
.cart-page-footer .container .body-footer .pay-cart {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.cart-page-footer .container .body-footer .pay-cart li {
  list-style: none;
  background-color: #d1e892;
  padding: 10px 20px;
  border-radius: 5px;
}
.cart-page-footer .container .bottom-footer {
  display: flex;
  justify-content: space-between;
  padding: 10px 50px;
}
.cart-page-footer .container .bottom-footer .left-bottom-footer {
  display: flex;
  align-items: center;
  /* actions */
}
.cart-page-footer .container .bottom-footer .left-bottom-footer .ui-checkbox,
.cart-page-footer .container .bottom-footer .left-bottom-footer .ui-checkbox *,
.cart-page-footer .container .bottom-footer .left-bottom-footer .ui-checkbox *::before,
.cart-page-footer .container .bottom-footer .left-bottom-footer .ui-checkbox *::after {
  box-sizing: border-box;
}
.cart-page-footer .container .bottom-footer .left-bottom-footer .ui-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 3px;
  background: #fff;
  border: 1px solid #d9d9d9;
  transition: all 0.3s;
  cursor: pointer;
  position: relative;
  margin-right: 20px;
}
.cart-page-footer .container .bottom-footer .left-bottom-footer .ui-checkbox::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: 0 0 0 8px #1677ff;
  border-radius: inherit;
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.12, 0.4, 0.29, 1.46);
}
.cart-page-footer .container .bottom-footer .left-bottom-footer .ui-checkbox::before {
  top: 40%;
  left: 50%;
  content: "";
  position: absolute;
  width: 4px;
  height: 7px;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transform: translate(-50%, -50%) rotate(45deg) scale(0);
  opacity: 0;
  transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6), opacity 0.1s;
}
.cart-page-footer .container .bottom-footer .left-bottom-footer .ui-checkbox:hover {
  border-color: #1677ff;
}
.cart-page-footer .container .bottom-footer .left-bottom-footer .ui-checkbox:checked {
  background: #1677ff;
  border-color: transparent;
}
.cart-page-footer .container .bottom-footer .left-bottom-footer .ui-checkbox:checked::before {
  opacity: 1;
  transform: translate(-50%, -50%) rotate(45deg) scale(1.2);
  transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
}
.cart-page-footer .container .bottom-footer .left-bottom-footer .ui-checkbox:active:not(:checked)::after {
  -webkit-transition: none;
  -o-transition: none;
  box-shadow: none;
  transition: none;
  opacity: 1;
}
.cart-page-footer .container .bottom-footer .left-bottom-footer span {
  margin-right: 20px;
}
.cart-page-footer .container .bottom-footer .left-bottom-footer .btn-delete {
  padding: 5px 20px;
  border-radius: 5px;
  border: 2.5px solid #E0E1E4;
  box-shadow: 0px 0px 20px -20px;
  cursor: pointer;
  background-color: white;
  transition: all 0.2s ease-in-out 0ms;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  opacity: 0.9;
}
.cart-page-footer .container .bottom-footer .left-bottom-footer .btn-delete:hover {
  background-color: #F2F2F2;
  box-shadow: 0px 0px 20px -18px;
}
.cart-page-footer .container .bottom-footer .left-bottom-footer .btn-delete:active {
  transform: scale(0.95);
}
.cart-page-footer .container .bottom-footer .right-bottom-footer .total-number {
  margin-left: 5px;
  color: rgba(239, 65, 34, 0.967);
}
.cart-page-footer .container .bottom-footer .right-bottom-footer button {
  position: relative;
  margin-left: 10px;
  padding: 8px 20px;
  outline: none;
  text-decoration: none;
  cursor: pointer;
  text-transform: uppercase;
  background-color: #fff;
  border: 1px solid rgba(22, 76, 167, 0.6);
  border-radius: 10px;
  color: #1d89ff;
  font-weight: 400;
  font-family: inherit;
  z-index: 0;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
}
.cart-page-footer .container .bottom-footer .right-bottom-footer button span {
  color: #164ca7;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.7px;
}
.cart-page-footer .container .bottom-footer .right-bottom-footer button:hover {
  animation: rotate624 0.7s ease-in-out both;
}
.cart-page-footer .container .bottom-footer .right-bottom-footer button:hover span {
  animation: storm1261 0.7s ease-in-out both;
  animation-delay: 0.06s;
}
@keyframes rotate624 {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
  25% {
    transform: rotate(3deg) translate3d(0, 0, 0);
  }
  50% {
    transform: rotate(-3deg) translate3d(0, 0, 0);
  }
  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }
  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}
@keyframes storm1261 {
  0% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
  25% {
    transform: translate3d(4px, 0, 0) translateZ(0);
  }
  50% {
    transform: translate3d(-3px, 0, 0) translateZ(0);
  }
  75% {
    transform: translate3d(2px, 0, 0) translateZ(0);
  }
  100% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
}
.cart-page-footer .container .bottom-footer .right-bottom-footer .btn-shine {
  border: 1px solid;
  overflow: hidden;
  position: relative;
}
.cart-page-footer .container .bottom-footer .right-bottom-footer .btn-shine span {
  z-index: 20;
}
.cart-page-footer .container .bottom-footer .right-bottom-footer .btn-shine:after {
  background: #38ef7d;
  content: "";
  height: 155px;
  left: -75px;
  opacity: 0.4;
  position: absolute;
  top: -50px;
  transform: rotate(35deg);
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  width: 50px;
  z-index: -10;
}
.cart-page-footer .container .bottom-footer .right-bottom-footer .btn-shine:hover:after {
  left: 120%;
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .cart-page-footer {
    margin-top: 25px;
    padding: 20px;
  }
  .cart-page-footer .container .body-footer {
    padding: 10px 80px 0px 80px;
  }
  .cart-page-footer .container .body-footer .pay-cart li {
    padding: 5px 10px;
    margin-right: 3px;
  }
  .cart-page-footer .container .bottom-footer {
    padding: 10px 10px;
  }
  .cart-page-footer .container .bottom-footer .right-bottom-footer button {
    margin-left: 10px;
    padding: 5px 10px;
    font-size: 16px;
  }
  .cart-page-footer .container .bottom-footer .right-bottom-footer button span {
    color: #164ca7;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.7px;
  }
  .cart-page-footer .container .bottom-footer .right-bottom-footer button:hover {
    animation: rotate624 0.7s ease-in-out both;
  }
  .cart-page-footer .container .bottom-footer .right-bottom-footer button:hover span {
    animation: storm1261 0.7s ease-in-out both;
    animation-delay: 0.06s;
  }
  @keyframes rotate624 {
    0% {
      transform: rotate(0deg) translate3d(0, 0, 0);
    }
    25% {
      transform: rotate(3deg) translate3d(0, 0, 0);
    }
    50% {
      transform: rotate(-3deg) translate3d(0, 0, 0);
    }
    75% {
      transform: rotate(1deg) translate3d(0, 0, 0);
    }
    100% {
      transform: rotate(0deg) translate3d(0, 0, 0);
    }
  }
  @keyframes storm1261 {
    0% {
      transform: translate3d(0, 0, 0) translateZ(0);
    }
    25% {
      transform: translate3d(4px, 0, 0) translateZ(0);
    }
    50% {
      transform: translate3d(-3px, 0, 0) translateZ(0);
    }
    75% {
      transform: translate3d(2px, 0, 0) translateZ(0);
    }
    100% {
      transform: translate3d(0, 0, 0) translateZ(0);
    }
  }
  .cart-page-footer .container .bottom-footer .right-bottom-footer .btn-shine {
    border: 1px solid;
    overflow: hidden;
    position: relative;
  }
  .cart-page-footer .container .bottom-footer .right-bottom-footer .btn-shine span {
    z-index: 20;
  }
  .cart-page-footer .container .bottom-footer .right-bottom-footer .btn-shine:after {
    background: #38ef7d;
    content: "";
    height: 155px;
    left: -75px;
    opacity: 0.4;
    position: absolute;
    top: -50px;
    transform: rotate(35deg);
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 50px;
    z-index: -10;
  }
  .cart-page-footer .container .bottom-footer .right-bottom-footer .btn-shine:hover:after {
    left: 120%;
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  }
}