@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&family=Libre+Bodoni:wght@400;500;700&family=Roboto+Serif:wght@100;200;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');
*{
    font-family: 'Roboto', sans-serif;
}

#header {
    margin-top: 20px;
    .top_header {
        background-color: #000;

        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .left_content {
                .logo {
                    svg {
                        color: white;
                    }
                }
            }

            .right_content {
                a {
                    text-decoration: none;
                    margin-left: 10px;
                    color: white;

                    i {
                        font-size: 16px;
                    }
                }

                @media screen and (min-width:1px) and (max-width:375px) {
                    font-size: 14px;
                }
            }
        }
    }

    .menu {
        .container {
            margin-top: 14px;

            .menu-content {
                margin-left: 100px;

                a {
                    text-decoration: none;
                    color: #000;
                    opacity: 0.6;
                    position: relative;
                    font-size: 18px;
                    margin-left: 15px;

                    &::after {
                        content: "";
                        background-color: #000;
                        margin-top: 5px;
                        height: 3px;
                        display: block;
                        transform: scale(0, 1);
                        width: 100%;
                        position: absolute;
                        bottom: -10px;
                        left: 0;
                    }

                    &:hover {
                        color: black;
                        opacity: 1;
                        &::after {
                            transform: scale(1, 1);
                            transition: all 0.5s;
                        }
                    }

                }
            }
        }
    }
}