#products_detail {
    margin-top: 5%;
    margin-bottom: 5%;
    .container {
        display: flex;
        @media screen and (min-width:375px) and (max-width:576px) {
            display: block;
            text-align: center;
        }
        @media screen and (min-width:1px) and (max-width:375px) {
            display: block;
            text-align: center;
         }
        .content_left {
            width: 45%;
            @media screen and (min-width:375px) and (max-width:576px) {
                width: 100%;
            }
            @media screen and (min-width:1px) and (max-width:375px) {
                width: 100%;
            }
            
            img {
                height: 115%;
                width: 90%;
                background-color: #f8f8f8;
                @media screen and (min-width:768px) and (max-width:1280px) {
                    height: 70%;
                }
                @media screen and (min-width:576px) and (max-width:768px) {
                    height: 45%;
                }
                @media screen and (min-width:375px) and (max-width:576px) {
                    height: 35%;
                    width: 85%;
                }
                @media screen and (min-width:1px) and (max-width:375px) {
                   height: 25%;
                }
            }
        }
        .content_right {
            width: 50%;
            padding-left: 50px;
            @media screen and (min-width:375px) and (max-width:576px) {
                width: 100%;
            }
            @media screen and (min-width:1px) and (max-width:375px) {
                width: 100%;
            }
            .info {
                h3 {

                }
                p {

                }
            }
            .size_products {
                span {
                    color: #2ddb1e;
                }
                .sizes {
                    border: none;
                    margin: 10px 5px 0 0;
                }
            }
            .cost {
                span {
                      color: red;
                      font-weight: 600;
                }
            }
            .push_cart {
                .except {
                    width: 25px;
                    height: 25px;
                    border: none;
                    background: linear-gradient(to right top, #d017e1, #b80ee7, #9c0fed, #7717f2, #3e20f8);
                    span {}
                }
                .num {
                    font-size: 20px;
                    margin: 0 10px;
                }
                .add {
                    width: 25px;
                    height: 25px;
                    border: none;
                    background: linear-gradient(to right top, #d017e1, #b80ee7, #9c0fed, #7717f2, #3e20f8);
                    span {}
                }
                .add_cart {
                    margin-top: 15px;
                    padding: 7px;
                    border: none;
                    background: linear-gradient(to right top, #d017e1, #b80ee7, #9c0fed, #7717f2, #3e20f8);
                    span {}
                }
            }
        }
    }
}